#hero-image-lg {
    background-image: url('/assets/images/peaks-background-lg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 35.10%; /* (img-height / img-width * width) */
    margin-top: 55px;
    position: relative;
    background-color: rgb(108, 196, 196);
}

#hero-image-sm {
    background-image: url('/assets/images/peaks-background-sm.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 0;
    padding-top: 56.25%; /* (img-height / img-width * width) */
    margin-top: 55px;
    position: relative;
    background-color: rgb(108, 196, 196);
}

header div {
    position: absolute;
    top: 33%; 
    bottom: 0; 
    left: 0; 
    right: 0;
    text-align: center;
    color: floralwhite;
    font-family: Kanit, serif, Arial;
    font-weight: bolder;
    font-style: italic;
}

.activities-left {
    /*min-width: 25vw;*/
    max-width: 100vw;
    height: auto;
    padding: 1rem 0 1rem;
}

.activities-right {
    /*min-width: 25vw;*/
    max-width: 100vw;
    height: auto;
    padding-top: 1rem 0 1rem;
}

.middle-content {
    text-align: center;
    padding-top: 10%;
    font-family: Kanit, serif, Arial;
}