#hero-image {
    background-image: url('/assets/images/peaks-background-sm.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* (img-height / img-width * width) */
    margin-top: 55px;
    position: relative;
    background-color: skyblue;
}

@media screen and (min-width: 768px) {
    #hero-image {
        background-image: url('/assets/images/peaks-background-lg.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 35.1%; /* (img-height / img-width * width) */
        margin-top: 55px;
        position: relative;
        background-color: skyblue;
    }
}

header {
    width: 100%;
}

header div {
    position: absolute;
    top: 80%; 
    bottom: 0; 
    left: 5%; 
    right: 0;
    text-align: left;
    color: floralwhite;
    font-family: Kanit, serif, Arial;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}


.activities {
    max-width: 100vw;
    height: auto;
    padding: 0.25em 0 0.25em;
}

.row-1-and-3-text {
    text-align: center;
    font-family: Kanit, serif, Arial;
    padding: 2.5em 0 2em;
}

@media screen and (min-width: 768px) {
    .row-1-and-3-text {
        text-align: center;
        font-family: Kanit, serif, Arial;
        padding: 1em 0 2em;
    }
}

.row-2-text {
    text-align: center;
    font-family: Kanit, serif, Arial;
    padding: 2.5em 0 2em;
}

@media only screen and (min-width: 768px) {
    .row-2-text {
        text-align: center;
        font-family: Kanit, serif, Arial;
        padding: 2em 0 2em;
    }
}

.videoclip {
    max-height: 100vh;
}